* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
.main {
  margin: 250px auto;
  width: 500px;
  height: 250px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.one,
.two,
.three {
  padding: 10px 20px;
  margin: 10px;
}
.one {
  border: 2px solid blue;
  align-self: flex-start;
}

.two {
  border: 2px solid red;

}
.three {
  border: 2px solid brown;
  align-self: flex-end;

}