* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.one {
  border: 2px solid blue;
  background-color: aliceblue;
  margin: 10px 250px;
  padding: 30px;
}

.two {
  border: 2px solid red;
  background-color: aqua;
  margin: 10px 230px;
}
.three {
  border: 2px solid brown;
  margin: 100px 240px 10px 1000px;
  padding: 50px;
  background-color: blanchedalmond;
}