* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arvo", sans-serif;
  background: #ccd5ae;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #df9e5e;
  text-align: center;
}

.your-name {
  margin-top: 5px;
  color: black;
}
