* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Arvo", sans-serif;
}

body {
  min-height: 100vh;
  background-color: orange;
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  display: flex;
  justify-content: center;
}

header {
  background: aqua;
}

main {
  background: purple;
}

footer {
  background: blue;
  margin-top: auto;
}

.container {
  width: 1080px;
}

@media screen and (max-width: 680px) {
  * {
    padding: 2%;
    list-style-type: none;
  }
  body {
    background: yellow;
  }
}
