* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin: 5px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eee;
}

canvas {
  border: 2px solid black;
  background-color: #fff;
}
