* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arvo", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
section,
.how {
  padding: 0 15%;
}

header {
  background: #264653;
  color: #e9c46a;
}

/* navigation */

header nav {
  height: 60px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

header nav .logo {
  font-size: 24px;
  font-weight: 900;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

header nav a {
  text-decoration: none;
  color: #e2bb58;
}

header nav a:hover {
  color: #e76f51;
}
/* hero */

.hero {
  display: flex;
  align-items: center;
  padding: 2rem;
  gap: 15px;
}

/* text hero */

.hero-text {
  flex: 2;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
}

.hero-text h1 {
  font-size: 48px;
}

.hero-text li {
  margin-top: 10px;
}

/* image hero */

.hero-image {
  flex: 1;
  text-align: center;
}

.hero-image img {
  height: auto;
  max-width: 80%;
}

.hero-image img:hover {
  transform: rotate(18deg);
}

/* headline */

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2a9d8f;
  padding: 20px 0;
  color: #eee;
}

/* how it works */

.how {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #264653;
  flex: 1;
}

.how h2 {
  font-size: 36px;
  padding: 1.5rem 0;
  transform: rotate(-90deg);
  display: inline-flex;
  width: min-content;
  height: min-content;
  align-self: center;
}

.boxes {
  display: flex;
  justify-content: space-evenly;
}

.box {
  flex: 1;
  padding: 1.5rem;
}

.boxes h3 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 1rem;
}

/* footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  background: #264653;
  margin-top: auto;
  text-align: center;
  height: 60px;
  margin-top: auto;
}

.footer span {
  color: red;
}

/* responsive */

@media only screen and (max-width: 768px) {
  header,
  section,
  .how {
    padding: 10px;
  }

  header nav {
    flex-direction: column;
  }

  header nav .logo {
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  header nav li {
    border: 2px solid #e2bb58;
    padding: 5px 10px;
  }

  .hero {
    flex-direction: column;
    margin-top: 1.5rem;
  }

  .how h2 {
    transform: none;
  }

  .boxes {
    flex-direction: column;
  }
}
